<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>demo_name</key>
		<string>自己的框架</string>
		<key>controller_name</key>
		<string>MyFrameworkViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>语法大全</string>
		<key>controller_name</key>
		<string>GrammarListViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>追求完美</string>
		<key>controller_name</key>
		<string>SeekPerfectViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>要优雅</string>
		<key>controller_name</key>
		<string>ElegantViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>UIKit相关</string>
		<key>controller_name</key>
		<string>UIKitDemosViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>WebView</string>
		<key>controller_name</key>
		<string>WebViewDemosViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>圆角、阴影、模糊、渐变、虚线</string>
		<key>controller_name</key>
		<string>ShadowCornerListViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>各种动画</string>
		<key>controller_name</key>
		<string>AnimationsViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>各种跳转</string>
		<key>controller_name</key>
		<string>NavigationJumpViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>各种字体</string>
		<key>controller_name</key>
		<string>FontTestViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>正则表达式</string>
		<key>controller_name</key>
		<string>RegularExpressionViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>各种手势</string>
		<key>controller_name</key>
		<string>GestureViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>浮层</string>
		<key>controller_name</key>
		<string>FloatingLayerDemoViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>Map</string>
		<key>controller_name</key>
		<string>MapDemoViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>视频播放器</string>
		<key>controller_name</key>
		<string>VideoDemoViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>xib</string>
		<key>controller_name</key>
		<string>XibDemosViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>SwiftUI</string>
		<key>controller_name</key>
		<string>SwiftUIDemosViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>杂七杂八</string>
		<key>controller_name</key>
		<string>Z7Z8ViewController</string>
		<key>url</key>
		<string></string>
	</dict>
</array>
</plist>
