<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>demo_name</key>
		<string>DSActionSheet</string>
		<key>controller_name</key>
		<string>DSActionSheetController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>swift Loading</string>
		<key>controller_name</key>
		<string>LoadingViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>swift占位图</string>
		<key>controller_name</key>
		<string>PlaceholderViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>通用占位图</string>
		<key>controller_name</key>
		<string>CQPlaceholderDemoViewController</string>
		<key>url</key>
		<string>https://www.jianshu.com/p/beca3ac24031</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>跳转地图APP导航功能模块</string>
		<key>controller_name</key>
		<string>MapNaviViewController</string>
		<key>url</key>
		<string>https://www.jianshu.com/p/ee83aed42d6d</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>权限检查</string>
		<key>controller_name</key>
		<string>CheckPricacyViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>一个很6的倒计时button</string>
		<key>controller_name</key>
		<string>CountDownButtonViewController</string>
		<key>url</key>
		<string>https://github.com/CaiWanFeng/CQCountDownButton</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>logo商标识别</string>
		<key>controller_name</key>
		<string>CQRecognitionViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>颜色渐变view</string>
		<key>controller_name</key>
		<string>CQGradientDemoViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>好用的button</string>
		<key>controller_name</key>
		<string>EasyButtonViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>弹出菜单按钮</string>
		<key>controller_name</key>
		<string>PopMenuButtonViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>交易发布规则view</string>
		<key>controller_name</key>
		<string>TradeRuleViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>带placeholder的textView</string>
		<key>controller_name</key>
		<string>PlaceholderTextViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>定位</string>
		<key>controller_name</key>
		<string>LocationManagerViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>基于MJRefresh的下拉刷新</string>
		<key>controller_name</key>
		<string>RefreshViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>CQAlertController</string>
		<key>controller_name</key>
		<string>CQAlertControllerDemoViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>控制view的状态</string>
		<key>controller_name</key>
		<string>ChangeViewStateViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>动画hud</string>
		<key>controller_name</key>
		<string>AnimationHudViewController</string>
		<key>url</key>
		<string></string>
	</dict>
</array>
</plist>
