<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>demo_name</key>
		<string>网络框架</string>
		<key>controller_name</key>
		<string>NetworkFrameworkViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>图片框架</string>
		<key>controller_name</key>
		<string>ImageFrameworkViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>json转model框架</string>
		<key>controller_name</key>
		<string>JSONToModelFrameworkViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>本地存储框架</string>
		<key>controller_name</key>
		<string>LocalStorageFrameworkViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>UI框架</string>
		<key>controller_name</key>
		<string>UIFrameworkViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>布局框架</string>
		<key>controller_name</key>
		<string>LayoutFrameworkViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>动画框架</string>
		<key>controller_name</key>
		<string>AnimationDemosViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>相机相册框架</string>
		<key>controller_name</key>
		<string>CameraFrameworkViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>键盘框架</string>
		<key>controller_name</key>
		<string>KeyboardFrameworkViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>路由</string>
		<key>controller_name</key>
		<string>RouterViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>YY</string>
		<key>controller_name</key>
		<string>YYDemoListViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>RxSwift</string>
		<key>controller_name</key>
		<string>RxSwiftDemoListViewController</string>
		<key>url</key>
		<string>RxSwiftDemo.md</string>
	</dict>
</array>
</plist>
