<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>demo_name</key>
		<string>追求完美</string>
		<key>controller_name</key>
		<string>SeekPerfectViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>要优雅</string>
		<key>controller_name</key>
		<string>ElegantViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>TableViewDemos</string>
		<key>controller_name</key>
		<string>TableViewDemosViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>CollectionViewDemos</string>
		<key>controller_name</key>
		<string>CollectionViewDemosViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>getter与setter</string>
		<key>controller_name</key>
		<string>GetterSetterViewController</string>
		<key>url</key>
		<string>getter与setter</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>String</string>
		<key>controller_name</key>
		<string>StringPracticeViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>Array</string>
		<key>controller_name</key>
		<string>ArrayPracticeViewController</string>
		<key>url</key>
		<string>Array.md</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>dict</string>
		<key>controller_name</key>
		<string>DictPracticeViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>number</string>
		<key>controller_name</key>
		<string>NumPracticeViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>date</string>
		<key>controller_name</key>
		<string>DatePracticeViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>data</string>
		<key>controller_name</key>
		<string>DataPracticeViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>流程控制</string>
		<key>controller_name</key>
		<string>ControlFlowViewConroller</string>
		<key>url</key>
		<string>ControlFlow</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>枚举</string>
		<key>controller_name</key>
		<string>EnumPracticeViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>圆角和阴影</string>
		<key>controller_name</key>
		<string>CornerAndShadowViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>各种动画</string>
		<key>controller_name</key>
		<string>AnimationsViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>扩大按钮响应区域</string>
		<key>controller_name</key>
		<string>EnlargeActionViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>播放动图</string>
		<key>controller_name</key>
		<string>GifViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>image和text互转</string>
		<key>controller_name</key>
		<string>ImageTextConvertViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>各种跳转</string>
		<key>controller_name</key>
		<string>NavigationJumpViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>各种字体</string>
		<key>controller_name</key>
		<string>FontTestViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>图片压缩</string>
		<key>controller_name</key>
		<string>CompressImageViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>正则表达式</string>
		<key>controller_name</key>
		<string>RegularExpressionViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>各种手势</string>
		<key>controller_name</key>
		<string>GestureViewController</string>
		<key>url</key>
		<string></string>
	</dict>
</array>
</plist>
