<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>demo_name</key>
		<string>String</string>
		<key>controller_name</key>
		<string>StringPracticeViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>Array</string>
		<key>controller_name</key>
		<string>ArrayPracticeViewController</string>
		<key>url</key>
		<string></string>
	</dict>
</array>
</plist>
