<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>demo_name</key>
		<string>架构模式</string>
		<key>controller_name</key>
		<string>CQArchitectureController</string>
		<key>jianshu_url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>设计模式</string>
		<key>controller_name</key>
		<string>CQDesignerController</string>
		<key>jianshu_url</key>
		<string></string>
	</dict>
</array>
</plist>
