<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>demo_name</key>
		<string>代理移交</string>
		<key>controller_name</key>
		<string>CQMVCViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>MVC</string>
		<key>controller_name</key>
		<string>CQMVCViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>MVP</string>
		<key>controller_name</key>
		<string>CQMVPViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>MVVM</string>
		<key>controller_name</key>
		<string>CQMVVMViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>MVVM+RAC</string>
		<key>controller_name</key>
		<string>CQMVVMRACViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>VIPER</string>
		<key>controller_name</key>
		<string>CQVIPERViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>组件化</string>
		<key>controller_name</key>
		<string>CQComponentViewController</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>类族</string>
		<key>controller_name</key>
		<string>CQClassClusterController</string>
		<key>url</key>
		<string>https://www.jianshu.com/p/0dbe99e914ff</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>简单工厂</string>
		<key>controller_name</key>
		<string>CQSimpleFactoryViewController</string>
		<key>url</key>
		<string>https://www.jianshu.com/p/471d310c37d0</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>策略模式</string>
		<key>controller_name</key>
		<string>CQStrategyViewController</string>
		<key>url</key>
		<string>策略设计模式.md</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>装饰模式</string>
		<key>controller_name</key>
		<string>CQDecoratorViewController</string>
		<key>url</key>
		<string>装饰模式.md</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>代理模式</string>
		<key>controller_name</key>
		<string>CQDelegateViewController</string>
		<key>url</key>
		<string>代理模式.md</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>工厂方法模式</string>
		<key>controller_name</key>
		<string>CQFactoryViewController</string>
		<key>url</key>
		<string>工厂方法模式.html</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>原型模式</string>
		<key>controller_name</key>
		<string>CQPrototypeViewController</string>
		<key>url</key>
		<string>原型模式.md</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>模板方法模式</string>
		<key>controller_name</key>
		<string>CQTemplateMethodViewController</string>
		<key>url</key>
		<string>模板方法模式.md</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>外观模式</string>
		<key>controller_name</key>
		<string>CQFacadeViewController</string>
		<key>url</key>
		<string>外观模式.md</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>建造者模式</string>
		<key>controller_name</key>
		<string>CQBuilderViewController</string>
		<key>url</key>
		<string>建造者模式.md</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>观察者模式</string>
		<key>controller_name</key>
		<string>CQObserverViewController</string>
		<key>url</key>
		<string>观察者模式.md</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>抽象工厂模式</string>
		<key>controller_name</key>
		<string>CQAbstractFactoryViewController</string>
		<key>url</key>
		<string>抽象工厂模式.md</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>状态模式</string>
		<key>controller_name</key>
		<string>CQStateViewController</string>
		<key>url</key>
		<string>状态模式.md</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>适配器模式</string>
		<key>controller_name</key>
		<string>CQAdapterViewController</string>
		<key>url</key>
		<string>适配器模式.md</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>备忘录模式</string>
		<key>controller_name</key>
		<string>CQMementoViewController</string>
		<key>url</key>
		<string>备忘录模式.md</string>
	</dict>
</array>
</plist>
